body, html {
	width: 100vw;
	height: 100vh;
}
#intro {
	font-family: sans-serif;
	background: #ddd;
	padding: 1.5em 0 1.5em 1em;
}

.signature-box {
	height: 250px;
	width: 300px;
	border: 1px solid #a00;
	border-radius: 7px;
	margin: 4px;
	padding: 2px;
	float: left;
	overflow: hidden;
	text-align: center;
	font-weight: bolder;
	font-size: 15px;
}
#deep-red {
	background-color: #278734;
}

.box{
	border: solid 1px grey;
}
#obiwan1715 {

}

#visampaio {
	background-color: lightpink;
	text-align: center;
	font-size: 15px;
	font-weight: bolder;
}

#reignnfire {
	background-color: #e3f29b;
}

#karlsol {
	background-color: grey;	
}

.projects button {
    background-color: #310999; /* background color*/
    border: 3px solid black; /* border color*/
    color: white; /* White text */
    padding: 20px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
	height: 100px;
	font-size: 20px;
	font-weight:bold;
    display: block; /* Make the buttons appear below each other */
}

.projects button:not(:last-child) {
    border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.projects button:hover {
    background-color: #3e8e41;
}
