body,
html {
    height: 100vh;
    width: 100vw;
}

.box {
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    width: 95%;
}


}
.intro {
    background: #ddd;
    font-family: sans-serif;
    padding: 1.5em 0 1.5em 1em;
    margin-top: 200px;
}
.IntroSection {
    width: 95%;
    margin: auto;
}

}
.projects button {
    background-color: #310999;
    /* background color*/
    border: 3px solid black;
    /* border color*/
    color: white;
    /* White text */
    padding: 20px 24px;
    /* Some padding */
    cursor: pointer;
    /* Pointer/hand icon */
    width: 50%;
    /* Set a width if needed */
    height: 100px;
    font-size: 20px;
    font-weight:bold;
    display: block;
    /* Make the buttons appear below each other */
    margin: auto;
    /* centre the whole box */
}
h2 {
    margin-left: 30px;
}
.projects a {
    color: white;
}
.projects a:hover {
    color: white;
    text-decoration: none;
}
.projects button:not(:last-child) {
    border-bottom: none;
    /* Prevent double borders */
}

/* Add a background color on hover */
.projects button:hover {
    background-color: #3e8e41;
}
.signature-box {
    height: 250px;
    width: 300px;
    border: 1px solid #a00;
    border-radius: 7px;
    margin: 4px;
    padding: 2px;
    float: left;
    overflow: hidden;
}
.navDiv {
    background-color: #eebaba;
    border-radius: 2px;
}
.top {
    margin-top: 50px;
}