body, html {
	width: 100vw;
	height: 100vh;
}
#intro {
	font-family: sans-serif;
	background: #ddd;
	padding: 1.5em 0 1.5em 1em;
}

.signature-box {
	height: 250px;
	width: 300px;
	border: 1px solid #a00;
	border-radius: 7px;
	margin: 4px;
	padding: 2px;
	float: left;
	overflow: hidden;
	text-align: center;
	font-weight: bolder;
	font-size: 15px;
}
#deep-red {
	background-color: #278734;
}

.box{
	border: solid 1px grey;
}
#obiwan1715 {
}

#visampaio {
	background-color: lightpink;
}
