body,
html {
    height: 100vh;
    width: 100vw;
}

.box {
    border-color: grey;
    border-style: solid;
    border-width: 1px;
    margin: auto;
    width: 95%;
}


}
.intro {
    background: #ddd;
    font-family: sans-serif;
    padding: 1.5em 0 1.5em 1em;
    margin-top: 200px;
}
.IntroSection {
    width: 95%;
    margin: auto;
}

.projects .button, .projects .button:visited {
    background: #310999;
    border: 3px solid black;
    color: white;
    padding: 0.2em 0.2em;
	cursor: pointer;
    font-size: 1.2em;
    font-weight:bold;
    display: block;
	max-width: 50%;
    margin: auto;
	text-align: center;
}

.projects .button:not(:last-child) {
	margin-bottom: 0.3em;
}

.projects .button:hover, .projects .button:focus {
	background: #3e8e41;
	color: white;
	text-decoration: none;
}

h2 {
    margin-left: 30px;
}

.signature-box {
    height: 250px;
    width: 300px;
    border: 1px solid #a00;
    border-radius: 7px;
    margin: 4px;
    padding: 2px;
    float: left;
    overflow: hidden;
}

.navDiv {
    background-color: #eebaba;
    border-radius: 2px;
}

.top {
    margin-top: 50px;
}

#navMenu {
	margin-bottom: 3em;
}
