/*
    Default theme: https://color.adobe.com/Copy-of-Sunset-Camping-color-theme-9928711/
*/

@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Quicksand|Roboto');
body {
    margin: 0;
}

#page {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template: 1fr 7fr 1fr / 1fr 5fr 1fr;
    grid-template-areas: "header header header" "chat chat chat" "message message btn";
}

#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 4fr 2fr 4fr / repeat(3, 1fr);
    grid-template-areas: "empty empty empty" "empty logo empty" "empty empty empty";
    background-color: #9ad3de;
}

#logo {
    font-size: 3em;
    font-family: 'Pacifico';
    grid-area: logo;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(55, 110, 130);
}

#chat-room {
    overflow-y: auto;
    padding-left: 1%;
    padding-top: 1%;
    font-size: 1.5em;
    font-family: 'Roboto';
    border-top: 3px solid #3fb0ac;
    border-bottom: 3px solid #3fb0ac;
    background-color: #89bdd3;
    grid-area: chat;
}

#message {
    grid-area: message;
    background-color: #9068be;
}

#chat-msg {
    font-family: 'Quicksand';
    background-color: #c9c9c9;
    font-size: 3em;
    padding: 0;
    height: 100%;
    width: 100%;
    border: none;
}

#send-btn {
    font-family: 'Quicksand';
    line-height: 200%;
    text-align: center;
    font-size: 2.5em;
    grid-area: btn;
    background-color: #9068be;
}

#send-btn:hover {
    background-color: #a773e3;
}
