body {
	font-size: 10pt;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: -10px;
    width: 100%;
}

#header-left {
    float: left;
    margin-left: 1em;
}

#header-right {
    float: right;
    margin-right: 1em;
}

header nav {
    padding: .4em 0;
    margin-top: 20px
}

#header-left a {
    margin-left: .75em;
}

#header-right a {
    margin-right: .75em;
    align-items:center;
}

nav {
	float:right;
	margin: 7px 21px;
}

i {
    position:relative;
    vertical-align:middle;
}

a   {
text-decoration: none;
}

nav a:hover {
	color: #111111;
	text-decoration: underline;
}

p a:hover {
    color: #111111;
    text-decoration: underline;
}

.search {
	text-align: center;
	clear: both;
	margin: 11% 0 0 0;
}

#logo {
	max-width: 33%;
	margin: 0 auto;
}

.search img {
    margin-top:25px;
	margin-bottom: 3%;
	max-width: 50%;
}

#search-bar {
    width: 570px;
    border: 0;
    border-radius: 2px;
    padding: 15px;
    font-size: 11pt;
    outline: 0;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0.0, 0.2, 1);
}

#search-bar:hover {
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 1px rgba(0, 0, 0, 0.08);
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgb(242, 242, 242);
    border-top: 1px solid #E4E4E4;
}

footer nav {
    padding: .4em 0;
}

footer a {
    color: #666;
}

footer a:hover {
    color: #666;
    text-decoration: underline;
}

#footer-left {
    float: left;
    margin-left: 2em;
}

#footer-left a {
    margin-right: 2em;
}

#footer-right {
    float: right;
    margin-right: 2em;
}

#footer-right a {
    margin-left: 2em;
}

#search-button button {
    margin-top: 30px;
    margin-right: 5px;
    margin-left:5px;
    background-color: #F2F2F2;
    padding: 10px 15px;
    color: #757575;
    font-weight:bold;
    border:1px solid #F2F2F2;
}

#search-button button:hover {
    background-color:lightgrey;
}