.container{
  text-align: center;
}

h1 {
  margin-top: 20px;
}

textarea{
  height:160px;
  width:400px;
}
#textApp {
  width:420px;
}

#textInfo {
  width: 200px;
}

#textApp, #textInfo, #textModify, #buttonWrapper{
  display:inline-block;
}

#textInfoDataList {
  list-style: none;
  padding-left: 0px;
}

#textInfoDataList>li {
  padding: 2px;
}

#textInfoDataList>li:nth-child(odd) {
  background-color: #EEE;
}

.textInfoData {
  float: right;
}


.buttons {
  width:500px;
  padding-bottom: 10px;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 3px 5px 3px 5px;
    margin: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;

}

.button:hover {
  background-color: #016f93;
  transition-duration: 0.2s;
  
}

