#container {
    margin: auto;
    width: 50%;
    padding: 20px;
}

#textApp {
  display: inline;
  float: right;
  left: 25%;
  width: 75%;
}

#textInfo {
  position: relative;
  float: left;
  display: inline;
  margin-top: 0.5em;
  width: 200px;
}

#textInfoDataList {
  list-style: none;
  padding-left: 0px;
}

#textInfoDataList>li {
  padding: 2px;
}

#textInfoDataList>li:nth-child(odd) {
  background-color: #EEE;
}

.textInfoData {
  float: right;
}

#textarea, #output {
  width: 70%;
}

#copyButton, #clearButton {
  display: block;
  margin-bottom: 20px;
  margin-left: 0px;
}

.buttons {
  margin-top: 20px;
  margin-left: 0px;
  margin-right: 25%;
  width: 70%;
  text-align: center;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 5px 10px 5px 10px;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
  background-color: #016f93;
  transition-duration: 0.2s;
}